body {
    background-image:url("./bg.jpg");
    background-size:cover;
}

.content {
    display:flex;
    align-items: center;
    font-size: 200%;
    flex-direction: column;
    padding-top: 50px;
}



#bio {
    background-color: yellow;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#comic1, #comic2, #comic3{
    height: auto;
    width: 200px;
    
    
}
.comicart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.inside{
    color: black;
    font-size: larger;
    background-color: white;
    height: 60px;
    font-size: 35px;
    margin: 10px;
    justify-content: center;

}
#poster-0, #poster-1, #poster-2{
    height: auto;
    width: 200px;
    
}
.the-movie{
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
   
    
    
}
.movie-adjust{
    display: flex;
    justify-content: space-around;
}
.recent-comics{
    display: flex;
   

}
.card-header{
    color: black;
    background-color: white;
}
.return-search{
    display: flex;
    justify-content: center;
    
}
.button{
    width: 200px;
    margin: 20px;
}

