body {
    font-family: 'Bangers', cursive;
    text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;
    background-image: url("./bg.jpg");
    background-size: cover;
}


.content {
    display: flex;
    align-items: center;
    font-size: 200%;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 0;
}

.posterTitle {
    max-height: 24px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#heroName {
    margin-bottom: 25px;
}

#bio {
    background-color: yellow;
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#comic1,
#comic2,
#comic3,
#poster-0,
#poster-1,
#poster-2 {
    height: auto;
    width: 200px;
}

.comicart {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inside {
    color: black;
    font-size: larger;
    background-color: rgb(214, 196, 225);
    height: 60px;
    font-size: 35px;
    margin: 10px;
    justify-content: center;
}

.the-movie {
    display: flex;
    color:  rgb(214, 196, 225);
    justify-content: start;
    flex-direction: column;
}

.movie-adjust {
    display: flex;
    justify-content: space-around;
}

.recent-comics {
    display: flex;
}

.card-header {
    color: black;
    background-color:  rgb(214, 196, 225);
}

.posterTitle {
    display: flex;
    justify-content: center;
}



.return-search {
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    margin: 20px;
    background-color: yellow;
    color: black;
}

@media screen and (max-width: 992px) {


    #bio {
        background-color: yellow;
        font-size: 60%;
    }

    .movie-adjust {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .button {
        background-color: red;
        color: white;
    }
}