body {
    background-image:url("./bg.jpg");
    background-size:cover;
}


#comic1, #comic2, #comic3{
    height: 400px;
    width: 200px;
    margin: 40px 10px;
    
}
.comicart{
    display: flex;
    justify-content: space-around;
}