body {
    background-image:url("./bg.jpg");
    background-size:cover;
}

.content {
    display:flex;
    align-items: center;
    font-size: 200%;
    flex-direction: column;
    padding-top: 50px;
}



#bio {
    background-color: yellow;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#comic1, #comic2, #comic3{
    height: auto;
    width: 200px;
    margin: 40px 10px 5px;
    
}
.comicart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.inside{
    color: white;
    font-size: larger;
}
#poster-0, #poster-1, #poster-2{
    height: 200px;
    margin: 0px 20px;
}
.the-movie{
    display: flex;
    color: white;
    justify-content: center;
    margin: 50px 0px ;
    
    
}