body {
    background-image:url("./bg.jpg");
    background-size:cover;
}


#comic1, #comic2, #comic3{
    height: 100%;
    width: 200px;
    margin: 40px 10px 5px;
    
}
.comicart{
    display: flex;
    justify-content: space-around;
}
.inside{
    color: white;
    font-size: larger;
}
